* {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
}

body {
  background-image: url('img/bali3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.content-header {
  width: 800px;
  height: 100px;
  margin: auto;
  border: 1px solid white;
  background-color: #f7ffe6;


}

.content-logo {
  width: 120px;
  height: 100px;
  margin: auto;

}

.content-logo img {
  width: 100px;
  box-sizing: border-box;
  padding-left: 10px;
}

.content-logo img:hover {
  transform: scale(1.5);
  transition: 1s;
}

.content-nav {
  width: 800px;
  height: 30px;
  margin: auto;
  background-color:  #262626;
  border: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.content-nav ul li {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
  border-right: 1px dotted grey;
  height: 30px;
  padding-right: 10px;
  font-family: sans-serif;
  box-sizing: border-box;
  padding-top: 1px;

}

.content-nav a {
  text-decoration: none;
  color: salmon;


}

.content-galeri {
  width: 800px;
  height: 300px;
  margin: 0 auto;

  background-image: url('img/ba;i4.jpg');
  background-size: cover;
  background-position: 0 -40px;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.content-mid {
  width: 800px;
  min-height: 700px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #ffbf80;

}

#left-content {
  width: 50%;
  /*border: 1px solid black;*/
  min-height: 700px;
  float: left;
  /*background-color: white;*/
  text-align: justify;
  box-sizing: border-box;
  padding: 10px 50px;
  color: black;
}

#right-content {
  width: 45%;
  /*border: 1px solid black;*/
  min-height: 700px;
  float: right;
  /*background-color: white;*/
  text-align: justify;
  box-sizing: border-box;
  padding: 10px 10px;
  color: black;
}

.gambar1 img {
  border-radius:100em;
  width:160px;
  height:160px;
  margin-left: 80px;
}

.gambar1 img:hover {
  transform: scale(1.5);
  transition: 1s;
}

.gambar2 img {
  border-radius:100em;
  width:160px;
  height:160px;
  margin-left: 80px;
}

.gambar2 img:hover {
  transform: scale(1.5);
  transition: 1s;
}

.gambar3 img {
  border-radius:100em;
  width:160px;
  height:160px;
  margin-left: 80px;
}

.gambar3 img:hover {
  transform: scale(1.5);
  transition: 1s;
}

h4 {
  text-align: center;
}
